{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{ recipe_object.title }} -  Scrumptious Recipes
    </title>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
</head>

<body>
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main Page</a>
            <a href="{% url 'create_recipe' %}">Create Recipe</a>
            <a href="{% url 'update_recipe' recipe_object.id %}">Update Recipe</a>
        </nav>
    </header>
    <main>
        <h1 class="recipe">{{ recipe_object.title }}</h1>
        <img src="{{ recipe_object.picture }}" class="center">
        <div class="rating" >{{ recipe_object.rating }} out of 10!</div>
        <p class="desc">{{ recipe_object.description }}</p>
        <h2> Ingredients</h2>
        <table class="ingredients">
            <thead>
                
                 <tr>
                     <th>Amount</th>
                     <th>Food item</th>
                 </tr>
            </thead>
            <tbody>
                {% for ingredient in recipe_object.gredients.all %}
                    <tr>
                     <td>{{ ingredient.amount }}</td>
                     <td>{{ ingredient.food_item }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>    
        <ol>
            {% for step in recipe_object.steps.all%}
            <li class="steps">{{ step.instructions }}</li>
            {% endfor %}
        </ol>
    </main>
</body>
<footer>
    <div> Made with love by Scrumptious Recipes </div>
</footer>

</html>