{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="title">Scrumptious Recipes</title>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
</head>

<body>
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main Page</a>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Logout</a>
                <a href="{% url 'create_recipe' %}">Create Recipe</a>
                <a href="{% url 'my_recipe_list' %}">My Recipes!</a>
                Hello, {{ user.username }}
            {% else %}
            <a href="{% url 'signup' %}">Sign Up</a>
            <a href="{% url 'user_login' %}">Login</a>
            {% endif %}

        </nav>
    </header>
    <main>
        <h1>Scrumptious Recipes</h1>
        <h2>All the food that's fit to eat</h2>
        <div class="recipe-grid">
            {% for recipe in recipe_list %}
            <div>
                <h3>
                    <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
                </h3>
                    <img src="{{ recipe.picture }}">
                    <div class="rating">{{ recipe.rating }} out of 10!</div>
                    <p class="date">{{ recipe.created_on|date:"SHORT_DATE_FORMAT" }}</p>
            </div>
            {% endfor %}
        </div>
    </main>
</body>
<footer> Made with love by scrumptious recipes
</footer>

</html>

