html {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #e98e0f;
    background-color: #eac96d;
}

head {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
    color:darkmagenta;

}

nav {

    padding: 16px;
    background-color: rgb(94, 61, 27);
    color: rgb(176, 139, 38);
    display: flex;
    justify-content: center;

}

a {
    color: #1b6d2d;
    text-decoration: salmon;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: 1fr;


}

nav a {
    text-decoration: none;
    color: rgb(193, 11, 11);
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    transition: 0.5s;
}

nav :hover {
    background-color: rgb(218, 177, 100);
    color: rgb(238, 227, 75);
    border-radius: 5px;
    padding: 5px;
    transition: 0.5s;
}

body {
    padding: 0;
        
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;

}


main {
    padding: 16px;


}

footer {
    position: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 24px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgb(170, 91, 38);
    color: rgb(238, 227, 75);

}

td:nth-child(odd) {

    color: rgb(52, 38, 183);
    border-bottom:rgb(94, 61, 27);
    border-style: double;

}

td:nth-child(even) {
    color: #177650;
    border-bottom: #8b0909;
    border-style: dashed;
}

table :hover {
    animation: shake 0.5s;


}

@keyframes shake {
    0% {
        transform: translate(0, 0);
    }

    10% {
        transform: translate(-5px, 0);
    }

    20% {
        transform: translate(5px, 0);
    }

    30% {
        transform: translate(-5px, 0);
    }

    40% {
        transform: translate(5px, 0);
    }

    50% {
        transform: translate(-5px, 0);
    }

    60% {
        transform: translate(5px, 0);
    }

    70% {
        transform: translate(-5px, 0);
    }

    80% {
        transform: translate(5px, 0);
    }

    90% {
        transform: translate(-5px, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

img {
    height: 200px;
 
    border-radius: 50%;
    border: 5px solid rgb(176, 139, 38);
    box-shadow: 5px 5px 5px 5px rgb(82, 14, 14);
    align-items: center;
    justify-content: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.desc {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
    color:darkmagenta
}

.steps {
    display:block;
    justify-content: center;
    align-items: center;

    gap: 0.5rem;
    margin-top: 1rem;
    color:rgba(111, 59, 3, 0.883)

}

.date {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
    color:darkmagenta
}

.S1 {
    font-size: larger;
    font: old english text mt;
}

.S1 :hover {
    color: rgb(176, 139, 38);
    transition: 0.5s;
}

.ingredients {
    display: auto;
    align-self: start;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
    color:darkmagenta;
    border: 5px solid rgb(176, 139, 38);
    box-shadow: 5px 5px 5px 5px rgb(82, 14, 14);
    border-style: double;
    background-color: salmon;
}